@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&family=Ubuntu:wght@400;500;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Ubuntu", sans-serif;
}

a,
p,
span {
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1280px;
  margin: auto;
  padding: 0px 24px;
}

.pushup-icon {
  bottom: 26%;
  left: 28%;
}

@media only screen and (max-width: 1540px) {
  .pushup-icon {
    left: 11%;
  }
}
@media only screen and (max-width: 1366px) {
  .pushup-icon {
    left: 15%;
  }
}
@media only screen and (max-width: 1280px) {
  .member {
    left: -20%;
  }
}
@media only screen and (max-width: 1020px) {
  .pushup-icon {
    left: -32%;
  }
}

@media only screen and (max-width: 768px) {
  .pushup-icon {
    left: 20%;
  }

  .member {
    left: 19%;
    top: -7%;
  }
}

@media only screen and (max-width: 600px) {
  .pushup-icon {
    left: -6%;
  }
}

@media only screen and (max-width: 599px) {
  .pushup-icon {
    left: 0%;
  }
}
@media only screen and (max-width: 500px) {
  .pushup-icon {
    left: -6%;
  }
  .member {
    left: 19%;
  }
}

@media only screen and (max-width: 414px) {
  .member {
    left: -3%;
    top: 0%;
  }
  .secondDanceIcon {
    left: 23%;
  }
  .stretchingIcon {
    right: 4%;
    top: 45%;
  }
  .crucifiedPose {
    left: 5%;
  }
}

@media only screen and (max-width: 400px) {
  .member {
    left: -4%;
    top: 21%;
  }
  .crucifiedPose {
    left: 1%;
  }
}
@media only screen and (max-width: 390px) {
  .member {
    top: 2%;
  }
  .secondDanceIcon {
    left: 20%;
  }
  .crucifiedPose {
    left: -2%;
  }
}

@media only screen and (max-width: 375px) {
  .secondDanceIcon {
    left: 13%;
    top: -25px;
  }
  .crucifiedPose {
    left: -5%;
  }
}

@media only screen and (max-width: 320px) {
  .member {
    top: 22%;
    left: -21px;
  }
  .stretchingIcon {
    top: 25%;
    right: -8px;
  }
  .pushup-icon {
    bottom: 20%;
  }
}
